[Unit]
Description=Home Utilities Monitoring System
Requires={{ networking.service_name }}
After=syslog.target {{ networking.service_name }}

[Service]
Type=simple
PrivateDevices=no

Environment="PYTHONPATH={{ project_dir }}"
WorkingDirectory={{ working_dir }}
PIDFile={{ pid_path }}

ExecStart={{ python_path }} -m hirsh --working-dir {{ working_dir }}

[Install]
WantedBy=multi-user.target